<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   Development.plist
   SantanderChallenge

   Created by Luiz Felipe Albernaz Pio on 04/07/19.
   Copyright (c) 2019 LFAP. All rights reserved.
-->
<plist version="1.0">
    <dict>
    
    </dict>
</plist>
